//COLORS
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-primary-light-red:rgba(248, 116, 116, 0.925);
$color-primary-dark-red:rgb(189, 0, 0);
$color-bckgd-first:#FF0A0A;
$color-bckgd-second:#000000;
$color-extra:#e5f900;
$color-yellow:#FBF42C; 
$color-blue:blue;
$color-text-white:#fff;
$color-dark-grey:#eee;
$color-col-bg-color:orangered;
$color-grid-text-color:black;
$color-black-light-1:#363434;

//GRID
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;
$margin-center:20%;
$col-margin-t-b:0.5rem;
$col-margin-l-r:10rem;
$col-text-size:2rem;
$col-2-width:2;
$col-3-width:3;

//FONT_SIZES
$default-fontsize:1.6rem;
